body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background: linear-gradient(to bottom, #ffefba, #ffffff);
  text-align: center;
}
main {
  padding: 10px;
}
h1 {
  color: #e67e22;
}
img {
  width: 320px;
  align-content: left;
  margin-top: 30px;
}
