body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background: linear-gradient(to bottom, #ffefba, #ffffff);
  text-align: center;
}
main {
  padding: 55px;
}
h1 {
  color: #e67e22;
}
p {
  font-size: 1.2em;
  color: #444;
}
img {
  width: 320px;
  margin-top: 30px;
  border-radius: 10px;
}
